<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
Generiert am 02.06 12:34<br>
<table class="table table-dark table-hover">
<tr>
<td>192.168.10.2</td>
<td>Router</td>
<td>MAC</td>
</tr>
<tr>
<td><a target="_blank" rel="noopener noreferrer" href="http://192.168.10.3" class="btn btn-sm btn-success">192.168.10.3</a></td>
<td>Server</td>
<td>MAC</td>
</tr>
<tr>
<td><a target="_blank" rel="noopener noreferrer" href="http://192.168.10.4" class="btn btn-sm btn-success">192.168.10.4</a></td>
<td>My Pc</td>
<td>MAC</td>
</tr>
<tr>
<td>192.168.10.6</td>
<td>-</td>
<td>MAC</td>
</tr>
<tr>
<td><a target="_blank" rel="noopener noreferrer" href="http://192.168.10.16" class="btn btn-sm btn-success">192.168.10.16</a></td>
<td>Accesspoint</td>
<td>MAC</td>
</tr>
<tr>
<td>192.168.10.18</td>
<td>Laptop</td>
<td>MAC</td>
</tr>
<tr>
<td><a target="_blank" rel="noopener noreferrer" href="http://192.168.10.21" class="btn btn-sm btn-success">192.168.10.21</a></td>
<td>Printer</td>
<td>MAC</td>
</tr>
</table>

</body>